@font-face {
  font-family: 'IBMPlexSans-Bold';
  font-weight: 400;
  src: url('../font/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexSans-Bold';
  font-weight: 500;
  src: url('../font/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBMPlexSans-Bold';
  font-weight: 700;
  src: url('../font/IBMPlexSans-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #141414;
  font-family: 'IBMPlexSans-Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  max-width: 1920px;
}

a {
  display: block;
  color: #141414;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.header-container {
  margin: 0 auto;
  max-width: 1360px;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

.btn {
  width: 120px;
  padding: 9px 0;
  background-color: #FF8364;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}

.btn:hover {
  border: 1px solid #FF8364;
  background-color: #FFFFFF;
  color: #FF8364;
}

.cmn-title {
  font-size: 40px;
  font-weight: 700;
}

.cmn-p {
  line-height: 1.5;
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

/*main*/
.main {
  padding: 36px 0 155px;
  background: url(../img/img_main_bg.png) no-repeat center/cover;
}

.main .header .icon {
  float: left;
}

.main .header .nav-group {
  float: right;
  padding: 13px 0;
  font-weight: 700;
}

.main .nav-group ul {
  float: left;
  padding: 9px 0;
}

.main .nav-group li {
  float: left;
  margin-right: 59px;
}

.main .nav-group li:hover {
  opacity: 0.7;
}



.main .nav-group .btn {
  float: right;
}

.main .banner {
  padding: 106px 246px 0;
  text-align: center;
}

.main .banner .cmn-title {
  line-height: 1.2;
  margin-top: 18px;
  padding: 20px 0 5px;
  font-size: 64px;
  font-weight: 500;
}

.main .banner .br2 {
  display: none;
}

.main .banner .btn {
  width: 141px;
  margin: 0 auto;
  margin-top: 26px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 700;
}

.main .menu-toggle {
  display: none;
}

/*second link*/
.second {
  padding: 113px 0 100px;
  background-color: #F3F3F3;
}

.second .container .blk {
  float: left;
  width: 635px;
}

.second .blk p {
  line-height: 1.4;
  margin: 37px 0 30px;
  font-size: 36px;
}

.second .blk .navi {
  position: relative;
  padding-right: 30px;
  color: #FF8364;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.second .blk .navi::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  background: url("../img/img_right_arrow.png") no-repeat center/cover;
  content: '';
  transform: translateY(-50%);
}

.second .container .blk2 {
  float: right;
  padding: 25px 0;
}

.second .blk2 img {
  overflow: hidden;
  border-radius: 29px;
}

/*third section*/
.third {
  padding: 87px 0 34px;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
}

.third .container h3 {
  margin-top: 10px;
  color: #FF8364;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.third .container ul {
  margin-top: 75px;
  padding-left: 77px;
}

.third .container li {
  position: relative;
  float: left;
  width: 45%;
  margin-bottom: 47px;
  padding-left: 65px;
}

.third .container li:nth-child(2n) {
  margin-left: 65px;
}

.third .container li::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("../img/img_star_icon.png") no-repeat center/cover;
  content: '';

}

.third .container .cmn-p {
  line-height: 1.3;
  color: #141414;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.1px;
}

/*fourth section*/
.fourth {
  padding: 86px 0 80px;
  text-align: center;
}

.fourth .container ul {
  margin-top: 47px;
}

.fourth .container li {
  float: left;
  width: 22.9%;
  overflow: hidden;
  margin-right: 2.7%;
  border-radius: 8px;
}

.fourth .container li:nth-child(4n) {
  margin-right: 0;
}

.fourth .container .box {
  padding: 34px 0;
  background-color: #F3F3F3;
}

.fourth .box span {
  color: #616161;
  font-size: 12px;
  text-transform: uppercase;
}

.fourth .box h3 {
  margin-top: 7px;
  font-weight: 700;
}

/*fifth section*/
.fifth {
  padding: 84px 0;
  background-color: #FCFCFC;
  text-align: center;
}

.fifth .container ul {
  margin-top: 55px;
}

.fifth .container li {
  float: left;
  width: 31%;
  margin-right: 30px;
}

.fifth .container li:nth-child(3n) {
  margin-right: 0;
}

.fifth .container p {
  line-height: 1.7;
  margin-top: 21px;
  color: #616161;
  font-size: 18px;
}

.fifth .container .info {
  position: relative;
  margin-top: 45px;
  padding-top: 17px;
}

.fifth .container .info::before {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 65px;
  height: 4px;
  background-color: #FF8364;
  content: '';
  transform: translateX(-50%);
}

.fifth .info h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.fifth .info span {
  color: #616161;
}

/*contact*/
.contact {
  padding: 98px 0;
  border-bottom: 1px solid #D9D9D9;
}

.contact p,
.contact a {
  margin-top: 9px;
  color: #616161;
  font-size: 16px;
}

.contact .container .map {
  position: relative;
  float: left;
  width: 54.5%;
  overflow: hidden;
  border: 0;
  border-radius: 8px;
}

.contact .detail {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  padding: 32px 32px 40px 29px;
  background-color: #ffffff;
  border-radius: 8px;
}

.contact .detail h2 {
  font-size: 12px;
  font-weight: 700;
}

.contact .detail .left {
  float: left;
  width: 46%;
}

.contact .left p {
  line-height: 1.4;
}

.contact .detail .right {
  float: right;
  width: 46%;
}

.contact .right .d1 {
  margin-bottom: 26px;
}

.contact .d1 a {
  color: #FF8364;
}

.contact .d2 a {
  cursor: pointer;
  pointer-events: none;
}

.contact .container .form {
  float: right;
  width: 40%;
  padding-top: 15px;
}

.contact .form h2 {
  font-size: 36px;
  font-weight: 500;
}

.contact .form p {
  line-height: 1.5;
  margin: 6px 0 30px;
}

.contact .form input {
  width: 70.3%;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 10px 0 10px 19px;
  border: 0;
  background-color: #F3F3F3;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  border-radius: 8px;
}

.contact .form input::placeholder {
  color: rgba(97, 97, 97, 0.5);
}

.contact .form .btn {
  display: block;
  width: 140px;
  padding: 13px 0;
  border: 1px solid #FF8364;
  font-size: 18px;
  border-radius: 8px;
}

/*footer*/
.footer {
  padding: 72px 0 83px;
}

.footer .container .f-left {
  float: left;
  width: 21%;
}

.footer .f-left .cmn-p {
  margin-top: 30px;
  color: #616161;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.footer .container .f-right {
  float: right;
  width: 66%;
}

.footer .f-right {
  padding-top: 9px;
}

.footer .f-right .category {
  float: left;
  width: 21.9%;
  margin-right: 4.1%;
}

.footer .f-right .category:last-child {
  margin-right: 0;
}

.footer .category h5 {
  margin-bottom: 11px;
  font-size: 20px;
  font-weight: 700;
}

.footer .category li {
  margin-bottom: 18px;
  color: #616161;
}

.footer .category li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {

  /*main*/
  .main {
    padding: 4.688vw 0 15.234vw 0;
  }

  .main .header .icon {
    padding-left: 5.208vw;
  }

  .main .header .nav-group {
    position: absolute;
    top: -200vh;
    width: 100%;
    padding: 12.37vw 0 4.688vw;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    transition: all .5s ease;
  }

  .main .header .nav-group.is-show {
    top: 0;
  }

  .main .nav-group ul {
    float: none;
    font-size: 2.083vw;
  }

  .main .nav-group li {
    float: none;
    margin-right: 0.781vw;
    margin-bottom: 3.776vw;
  }

  .main .nav-group li:last-child {
    margin-bottom: 0;
  }

  .main .nav-group .btn {
    float: none;
    margin: 2.083vw auto 0;
    font-size: 1.823vw;
  }

  .main .banner {
    padding: 13.802vw 0 0 0;
  }

  .main .banner .cmn-title {
    margin-top: 2.344vw;
    padding: 2.604vw 3.516vw 0.651vw;
    font-size: 8.333vw;
  }

  .main .banner .btn {
    width: 18.359vw;
    margin-top: 3.385vw;
    padding: 1.563vw 0;
    font-size: 2.344vw;
    border-radius: 1.042vw;
  }

  .main .menu-toggle,
  .main .menu-toggle span {
    display: inline-block;
    z-index: 2;
    transition: all .4s;
  }

  .main .menu-toggle {
    position: absolute;
    top: 5.208vw;
    right: 5.448vw;
    width: 5.729vw;
    height: 4.297vw;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }

  .main .menu-toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.391vw;
    background-color: #141414;
    border-radius: 0.521vw;
  }

  .main .menu-toggle span:nth-of-type(1) {
    top: 0;
  }

  .main .menu-toggle span:nth-of-type(2) {
    top: 1.953vw;
  }

  .main .menu-toggle span:nth-of-type(3) {
    bottom: 0;
  }

  .main .menu-toggle.active span:nth-of-type(1) {
    transform: translateY(1.953vw) rotate(-45deg);
  }

  .main .menu-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }

  .main .menu-toggle.active span:nth-of-type(3) {
    transform: translateY(-1.953vw) rotate(45deg);
  }

  /*second section*/
  .second {
    padding: 11.068vw 0 7.161vw;
  }

  .second .container {
    padding: 0 10.417vw 0 5.208vw;
  }

  .second .container .blk {
    float: none;
    width: 100%;
  }

  .second .container .blk2 {
    float: none;
    width: 72.4vw;
    margin: 5.599vw 0 0 8.724vw;
  }

  .second .blk2 img {
    width: 100%;
  }

  /*third section*/
  .third {
    padding: 11.328vw 0 8.333vw;
  }

  .third br {
    display: none;
  }

  .third .container .cmn-title {
    margin-left: -5.208vw;
  }

  .third .container h3 {
    margin-top: 1.302vw;
    font-size: 3.255vw;
    letter-spacing: 0.143vw;
  }

  .third .container ul {
    margin-top: 7.943vw;
    padding-left: 5.208vw;
  }

  .third .container li {
    float: none;
    width: 90%;
    margin-bottom: 6.12vw;
    padding-left: 8.464vw;
  }

  .third .container li:nth-child(2n) {
    margin-left: 0;
  }

  .third .container li:last-child {
    margin-bottom: 0;
  }

  .third .container li::before {
    width: 5.208vw;
    height: 5.208vw;

  }

  .third .container .cmn-p {
    letter-spacing: -0.013vw;
  }

  /*fourth section*/
  .fourth {
    padding: 11.198vw 0 5.859vw;
  }

  .fourth .container ul {
    margin-top: 4.948vw;
    padding-left: 14.323vw;
  }

  .fourth .container li {
    width: 33.2vw;
    margin-right: 6%;
    margin-bottom: 4.688vw;
    border-radius: 1.042vw;
  }

  .fourth .container li:nth-child(2n) {
    margin-right: 0;
  }

  .fourth li img {
    width: 100%;
  }

  .fourth .container .box {
    padding: 4.427vw 0;
  }

  .fourth .box span {
    font-size: 1.563vw;
  }

  .fourth .box h3 {
    margin-top: 0.911vw;
  }

  /*fifth section*/
  .fifth {
    padding: 10.677vw 0 3.906vw;
  }

  .fifth .container ul {
    margin-top: 4.818vw;
    padding-left: 4.557vw;
  }

  .fifth .container li {
    width: 46.2%;
    margin-right: 2.995vw;
    margin-bottom: 6.51vw;
  }

  .fifth .container li:nth-child(3n) {
    margin-right: 5.3vw;
  }

  .fifth .container li:nth-child(2n) {
    margin-right: 0;
  }

  .fifth .container p {
    margin-top: 2.734vw;
    font-size: 2.344vw;
  }

  .fifth .container .info {
    margin-top: 5.859vw;
    padding-top: 2.214vw;
  }

  .fifth .container .info::before {
    width: 8.464vw;
    height: 0.521vw;
  }

  .fifth li:nth-child(2) .info {
    margin-top: 1.693vw;
  }

  .fifth .info h3 {
    margin-bottom: 1.042vw;
    font-size: 2.604vw;
  }

  /*contact*/
  .contact {
    padding: 10.286vw 5.208vw;
  }

  .contact p,
  .contact a {
    margin-top: 0.781vw;
    font-size: 2.083vw;
  }

  .contact .container .map {
    width: 50%;
    border-radius: 1.042vw;
  }

  .contact .detail {
    bottom: 2.604vw;
    padding: 2.995vw;
    border-radius: 1.042vw;
  }

  .contact .detail h2 {
    font-size: 1.563vw;
  }

  .contact .detail .left {
    float: none;
    width: 100%;
    margin-bottom: 2.344vw;
  }

  .contact .detail .right {
    float: none;
    width: 100%;
  }

  .contact .right .d1 {
    margin-bottom: 3.516vw;
  }

  .contact .d2 a {
    cursor: pointer;
    pointer-events: auto;
  }

  .contact .container .form {
    width: 47%;
    padding-top: 3.255vw;
  }

  .contact .form h2 {
    font-size: 4.688vw;
  }

  .contact .form p {
    margin: 0.781vw 0 3.255vw;
  }

  .contact .form input {
    width: 96.9%;
    margin-bottom: 3.516vw;
    padding: 1.302vw 0 1.302vw 2.474vw;
    font-size: 2.083vw;
    border-radius: 1.042vw;
  }

  .contact .form .btn {
    width: 18.229vw;
    padding: 1.693vw 0;
    font-size: 2.344vw;
    border-radius: 1.042vw;
  }

  /*footer*/
  .footer {
    padding: 9.375vw 0 0;
  }

  .footer .container {
    padding-left: 5.208vw;
  }

  .footer .container .f-left {
    width: 32%;
  }

  .footer .f-left .cmn-p {
    margin-top: 3.906vw;
    font-size: 1.563vw;
  }

  .footer .container .f-right {
    width: 52.7%;
  }

  .footer .f-right {
    padding-top: 0.911vw;
  }

  .footer .f-right .category {
    width: 41.6%;
    margin-right: 3.906vw;
    margin-bottom: 5.208vw;
  }

  .footer .f-right .category:nth-child(2n) {
    margin-right: 0;
  }

  .footer .category h5 {
    margin-bottom: 1.432vw;
    font-size: 2.604vw;
  }

  .footer .category li {
    margin-bottom: 2.344vw;
  }
}

@media screen and (max-width:767.9px) {

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .cmn-title {
    font-size: 6.25vw;
  }

  /*main*/
  .main {
    padding: 5.625vw 0 13.75vw 0;
  }

  .main .header .icon {
    padding-left: 5vw;
  }

  .main .icon img {
    max-width: 32.656vw;
  }

  .main .header .nav-group {
    position: absolute;
    top: -200vh;
    width: 100%;
    padding: 14.844vw 0 5.625vw;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    transition: all .5s ease;
  }

  .main .header .nav-group.is-show {
    top: 0;
  }

  .main .nav-group ul {
    float: none;
    font-size: 2.083vw;
  }

  .main .nav-group li {
    float: none;
    margin-right: 0;
    margin-bottom: 4.531vw;
    font-size: 2.188vw;
  }

  .main .nav-group li:last-child {
    margin-bottom: 0;
  }

  .main .nav-group .btn {
    float: none;
    margin: 2.5vw auto 0;
    font-size: 2.188vw;
  }

  .main .banner {
    padding: 13.75vw 0 0 0;
  }

  .main .banner .cmn-title {
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1.719vw;
    padding: 3.125vw 4.219vw 0.781vw;
    font-size: 7.031vw;
  }


  .main .banner .cmn-p {
    line-height: 1.6;
    font-size: 2.813vw;
  }

  .main .banner .btn {
    width: 22.031vw;
    margin-top: 2.5vw;
    padding: 1.875vw 0;
    font-size: 2.813vw;
  }

  .main .menu-toggle,
  .main .menu-toggle span {
    display: inline-block;
    z-index: 1;
    transition: all .4s;
  }

  .main .menu-toggle {
    position: absolute;
    top: 6.208vw;
    right: 4.048vw;
    width: 6.729vw;
    height: 4.997vw;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }

  .main .menu-toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.391vw;
    background-color: #141414;
    border-radius: 0.521vw;
  }

  .main .menu-toggle span:nth-of-type(1) {
    top: 0;
  }

  .main .menu-toggle span:nth-of-type(2) {
    top: 2.453vw;
  }

  .main .menu-toggle span:nth-of-type(3) {
    bottom: 0;
  }

  .main .menu-toggle.active span:nth-of-type(1) {
    transform: translateY(2.253vw) rotate(-45deg);
  }

  .main .menu-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }

  .main .menu-toggle.active span:nth-of-type(3) {
    transform: translateY(-2.453vw) rotate(45deg);
  }

  .main .banner img {
    max-width: 9.063vw;
  }

  /*second section*/
  .second {
    padding: 6.563vw 0 9.375vw 4.688vw;
  }

  .second .container .blk {
    float: none;
    width: 100%;
  }

  .second .blk p {
    line-height: 2;
    margin: 3.906vw 0 2.344vw;
    font-size: 3.906vw;
  }

  .second .container .blk2 {
    float: none;
    width: 100%;
    margin: 0;
    padding: 8.594vw 0 0 1.875vw;
  }

  .second .blk .navi {
    font-size: 2.5vw;
    letter-spacing: 0.078vw;
  }

  .second .blk .navi::after {
    width: 2.188vw;
    height: 2.188vw;
  }

  .second .blk2 img {
    max-width: 86.875vw;
    border-radius: 4.531vw;
  }

  /*third section*/
  .third {
    padding: 10.313vw 0 10vw;
  }

  .third br {
    display: none;
  }

  .third .container .cmn-title {
    margin-left: -3.125vw;
  }

  .third .container h3 {
    margin-top: 3.125vw;
    font-size: 3.906vw;
    letter-spacing: 0.156vw;
  }

  .third .container ul {
    margin-top: 9.844vw;
    padding-left: 4.688vw;
  }

  .third .cmn-p {
    font-size: 2.813vw;
  }

  .third .container li {
    float: none;
    width: 92%;
    margin-bottom: 7.344vw;
    padding-left: 10.156vw;
  }

  .third .container li:nth-child(2n) {
    margin-left: 0;
  }

  .third .container li:last-child {
    margin-bottom: 0;
  }

  .third .container li::before {
    width: 6.25vw;
    height: 6.25vw;

  }

  .third .container .cmn-p {
    letter-spacing: -0.016vw;
  }

  /*fourth section*/
  .fourth {
    padding: 10.313vw 0 2.813vw;
  }

  .fourth .container ul {
    margin-top: 5.781vw;
    padding: 0 7.031vw;
  }

  .fourth .container li {
    width: 46.5%;
    margin-right: 6.9%;
    margin-bottom: 5.938vw;
    border-radius: 1.25vw;
  }

  .fourth .container li:nth-child(2n) {
    margin-right: 0;
  }

  .fourth li img {
    width: 100%;
  }

  .fourth .container .box {
    padding: 5.313vw 0;
  }

  .fourth .box span {
    font-size: 1.875vw;
  }

  .fourth .box h3 {
    margin-top: 1.094vw;
    font-size: 2.5vw;
  }

  /*fifth section*/
  .fifth {
    padding: 10.156vw 0 8.906vw;
  }

  .fifth .container ul {
    margin-top: 5.781vw;

  }

  .fifth .container li {
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 9.375vw;
  }

  .fifth .container li:nth-child(3n) {
    margin: 0;
  }

  .fifth li img {
    max-width: 12.5vw;
  }

  .fifth li span {
    font-size: 2.5vw;
  }

  .fifth .container p {
    line-height: 1.7;
    margin-top: 3.281vw;
    font-size: 2.813vw;
  }

  .fifth .container .info {
    margin-top: 5.469vw;
    padding-top: 2.656vw;
  }

  .fifth .container .info::before {
    width: 10.156vw;
    height: 0.625vw;
  }

  .fifth .info h3 {
    margin-bottom: 1.25vw;
    font-size: 3.125vw;
    font-weight: 700;
  }

  /*contact*/
  .contact {
    padding: 9.688vw 0 6.719vw;
  }

  .contact p,
  .contact a {
    margin-top: 1.25vw;
    font-size: 2.5vw;
  }

  .contact .container .map {
    float: none;
    width: 89.063vw;
    height: 53.594vw;
    margin-left: 6.563vw;
    border-radius: 1.25vw;
  }

  .contact .detail {
    bottom: 3.125vw;
    width: 82.031vw;
    overflow: hidden;
    padding: 2.344vw 2.344vw 2.5vw;
    border-radius: 1.25vw;
  }

  .contact .detail h2 {
    font-size: 1.875vw;
  }

  .contact .detail .left {
    width: 46%;
  }



  .contact .detail .right {
    width: 47%;
    padding-top: 2.344vw;
  }

  .contact .right .d1 {
    margin-bottom: 3.594vw;
  }


  .contact .d2 a {
    cursor: pointer;
    pointer-events: auto;
  }

  .contact .container .form {
    float: none;
    width: 100%;
    padding: 5.469vw 5.156vw;
  }

  .contact .form h2 {
    font-size: 5.625vw;
  }

  .contact .form p {
    margin-top: 0.938vw;
    margin-bottom: 24.998px;
  }

  .contact .form input {
    width: 54.5%;
    margin: 0 0 4.219vw;
    padding: 1.563vw 0 1.563vw 2.969vw;
    font-size: 2.5vw;
    border-radius: 1.25vw;
  }

  .contact .form .btn {
    width: 21.875vw;
    padding: 2.031vw 0;
    font-size: 2.813vw;
    border-radius: 1.25vw;
  }

  /*footer*/
  .footer {
    padding: 4.531vw 0 0;
  }

  .footer .container .f-left {
    width: 36.406vw;
    margin-left: 5vw;
  }

  .footer .f-left .cmn-p {
    margin-top: 4.688vw;
    font-size: 1.875vw;
  }

  .footer .container .f-right {
    width: 48.438vw;
  }

  .footer .f-right {
    margin-right: 3.906vw;
    padding-top: 1.563vw;
  }

  .footer .f-right .category {
    width: 21.719vw;
    margin-right: 4.375vw;
    margin-bottom: 6.25vw;
  }

  .footer .f-right .category:nth-child(2n) {
    margin-right: 0;
  }

  .footer .category h5 {
    margin-bottom: 1.719vw;
    font-size: 3.125vw;
  }

  .footer .category li {
    margin-bottom: 2.813vw;
    font-size: 2.5vw;
  }
}